<div class="card text-center h-100">
  <div class="card-body">
    <h5 class="card-title">Create Interest</h5>
    <form id="createCat-btn" class="col lg-2">
      <div class="form-group">
        <label for="text"></label>
        <input type="text" name="text" required="required" class="form-control">
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block createCat-btn" type="submit">
      </div>
    </form>
  </div>
</div>
